html {
    scroll-behavior: smooth;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: rgba(29, 29, 29, 0.5);
    text-align: center;
    color: #fff;
}

header {
    background-color: rgba(51, 51, 51, 0.3);
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

main {
    padding-top: 0;
}

#about h1 {
    margin-top: 0;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 2.5em; /* Adjusted font size for better readability */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #3b7ab2;
    transition: color 0.3s ease-in-out;
}

section {
    background-color: rgba(29, 29, 29, 0.9);
    color: #fff;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

#about {
    position: relative;
    color: #fff;
    padding: 50px;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('z1_about.jpg'); /* Add the path to your image file */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: -1;
}

#about h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2em;
}

#about a {
    color: #5daeff;
    text-decoration: none;
    border-bottom: 1px solid #5daeff;
    transition: color 0.3s ease-in-out;
}

#about a:hover {
    color: #3b7ab2;
    border-bottom-color: #3b7ab2;
}

#projects {
    background-color: rgba(45, 45, 45, 0.9); /* Dark background color for the "Projects" section */
    color: #fff; /* Text color for the "Projects" section */
    padding: 50px; /* Increased padding for the "Projects" section */
}

#projects h2 {
    color: #fff; /* Title color for the Projects section */
    font-size: 3em; /* Adjusted font size for the Projects section title */
    margin-bottom: 30px; /* Increased margin for better separation */
}


.project {
    background-color: #3b3b3b; /* Darker background color for each project */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #fff; /* Project title color */
    font-size: 1.8em; /* Adjusted font size for project titles */
}

.project p {
    color: #fff; /* Project description color */
    font-size: 1.2em;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project a {
    color: #5daeff; /* Project link color */
    text-decoration: none;
    border-bottom: 1px solid #5daeff; /* Add a bottom border on hover */
    transition: color 0.3s ease-in-out;
}

.project a:hover {
    color: #3b7ab2; /* Change the link color on hover */
    border-bottom-color: #3b7ab2; /* Adjust the border color on hover */
}

#experience {
    background-color: rgba(45, 45, 45, 0.9); /* Dark background color for the "Experience" section */
    color: #fff; /* Text color for the "Experience" section */
    padding: 50px; /* Increased padding for the "Experience" section */
}

#experience h2 {
    color: #fff; /* Title color for the Experience section */
    font-size: 3em; /* Adjusted font size for the Experience section title */
    margin-bottom: 30px; /* Increased margin for better separation */
}

#education {
    background-color: rgba(45, 45, 45, 0.9); /* Dark background color for the "Education" section */
    color: #fff; /* Text color for the "Education" section */
    padding: 50px; /* Increased padding for the "Education" section */
}

#education h2 {
    color: #fff; /* Title color for the Education section */
    font-size: 3em; /* Adjusted font size for the Education section title */
    margin-bottom: 30px; /* Increased margin for better separation */
}

#contact {
    background-color: rgba(59, 59, 59, 0.9); /* Dark background color for the "Contact" section */
    color: #fff; /* Text color for the "Contact" section */
    padding: 50px; /* Increased padding for the "Contact" section */
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact label {
    margin-bottom: 10px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.7);
    color: #fff;
}

#contact button {
    padding: 10px 20px;
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#contact button:hover {
    background-color: #2d2d2d;
}

.contact-info {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff; /* Text color for contact info */
}

.contact-info a {
    color: #5daeff;
    text-decoration: none;
    border-bottom: 1px solid #5daeff;
    transition: color 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #3b7ab2;
    border-bottom-color: #3b7ab2;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #1d1d1d;
    padding: 10px;
    text-align: center;
}

#social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

#social-links a:hover {
    color: #3b7ab2;
}
